.settings/
target/
.project
.gradle/

# Carpeta donde se arma el apk (App de Android, lo mas probable es que solo puedas probar desde android studio)
./android/build/

# IntelliJ IDEA
.idea/

# Vsual Studio Code
.code-workspace/
.vscode/

# Este es por si estes trabajando con Netbeans
nbactions.xml

# Archivo comunmente usado por IDES y editores para determinar jerarquia de clases dentro del proyecto
# .classpath
e crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

secrets/
