.settings/
target/
.project
.gradle/

.kotlin

# Carpeta donde se arma el apk (App de Android, lo mas probable es que solo puedas probar desde android studio)
./android/build/

# IntelliJ IDEA
.idea/

# Vsual Studio Code
.code-workspace/
.vscode/

# Este es por si estes trabajando con Netbeans
nbactions.xml

# Archivo comunmente usado por IDES y editores para determinar jerarquia de clases dentro del proyecto
# .classpath
hs_err_pid*
replay_pid*

# Makefile kachi'ai que uso para compilar rapido (los dos)
Makefile
kls_database.db

# Te voy a pasar el archivo, tenes que pegar en la carpeta root (donde esta este archivo) del proyecto
db.properties

# Script que uso para compilar el proyecto en mi terminal (No es necesario para VSCode, IntelliJ ni Netbeans)
run-ABM.sh
