.settings/
target/
.project
.gradle/

tbd.md

# IntelliJ IDEA
.idea/

# Vsual Studio Code
.code-workspace/
.vscode/

# Netbeans
nbactions.xml

# Archivo comunmente usado por IDES y editores para determinar jerarquia de clases dentro del proyecto
.classpath

# Archivo que va a utlizar para obtener las credenciales de la base de datos
db.properties

# Script personal para compilar el programa mas rapido
run.sh
